<style>
	div.img {
		float:left;
	}
	img.vignette {
		width:200px;
		margin:5px;
	}
</style>
<% @moderation_list.each { |f|  %>
	<div class="img">
		<img src="<%=APP_PATH %>/moderation/<%= "#{File.basename(f)}" %>" class="vignette"/>
	</div>
<% } %>