<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="content-language" content="fr">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="">
      <link rel="shortcut icon" href="img/favicon.png">

      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <script type="text/javascript" src="<%=APP_PATH %>/js/jquery/dist/jquery.min.js"></script>

      <title>Light My Prayer</title>

      <script type="text/javascript">
       if ( top != self ) top.location.replace( location );
      </script>

      <script type="text/javascript">
        // Js global constants for app
        APP_PATH = '<%= APP_PATH %>';
      </script>

    </head>
    <body>
        <%= yield %>
    </body>
</html>
